# Files
.dockerignore
.editorconfig
.gitignore
.env.*
!.env.local
Dockerfile
Makefile
LICENSE
**/*.md
**/*_test.go
*.out
npm-debug.log

# Folders
.git/
.github/
build/
node_modules/
dist/
.pnpm-store
